@use "../../assets/scss/variables" as *;
@use "../../assets/scss/mixins" as *;

.commonContainer {
  height: 100%;
  width: 100%;
}

.reader {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  :global(.epub-container) {
    margin: 0 auto;
    max-height: calc(100% - 60px);
    overflow-x: hidden !important;
  }

  &--visible {
    opacity: 1;
  }

  &--centered {
    :global(.epub-container) {
      max-width: 900px;
    }
  }

  &--scrolled {
    :global(.epub-container) {
      padding-bottom: 80px;
    }

    .buttonNext {
      right: 20px;
    }
  }
}

.readerContainer {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
  max-height: 100%;
}

.button {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 60px;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;

  @include media($lg) {
    width: 30px;
  }

  &:focus,
  &:focus-visible,
  &:active {
    outline: none;
    background-color: transparent;
  }

  &Next {
    right: 0;
  }

  &Prev {
    left: 0;
  }
}

.arrowButton {
  position: absolute;
  top: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transform: translateY(-50%);

  @include media($lg) {
    display: none;
  }

  &:hover,
  &:focus {
    path {
      fill: #24a600;
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  path {
    transition: 0.3s ease-in;
  }

  &Next {
    right: 0;
  }

  &Prev {
    left: 0;
  }
}

.viewerWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
