@mixin media($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin min-media($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* stylelint-disable */
@mixin line-clamp($property) {
  -webkit-line-clamp: $property;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin scrollbar($width: 6px) {
  // Webkit browsers
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  // Firefox
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.15) transparent;

  // If width is 0, hide everything
  @if $width == 0 {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }
}

