.slider {
  margin-bottom: 35px;

  &:last-of-type {
    margin-bottom: 13px;
  }

  svg {
    flex-shrink: 0;
  }

  &:first-of-type {
    .title {
      margin-bottom: 9px;
    }
  }
}

.container {
  display: flex;
  align-items: flex-end;
  height: 20px;
  gap: 14px;
}

.title {
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: -0.24px;
  color: #1f1f1f;
}

.sliderContainer {
  position: relative;
  width: 100%;

  span {
    position: absolute;
    top: -20px;
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: -0.2px;
    color: #8f938d;

    &:last-of-type {
      right: 0;
    }
  }
}