.container {
  display: flex;
  margin-bottom: 40px;
  gap: 16px;
  padding-inline: 24px;
}

.img {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  background-color: #eee;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.content {
  flex-grow: 1;
}

.title {
  margin-bottom: 4px;
  font-weight: 500;
}

.info {
  margin-bottom: 4px;
  font-size: 14px;
}
