.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.spinner {
  width: 36px;
  height: 36px;
  border: 4px solid #f3f3f3;
  border-top: 5px solid #00ad42;
  border-radius: 50%;
  animation: spin 2s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.percent {
  color: #D6D6D6;
  font-size: 80px;
  font-weight: 400;
  line-height: 130%;
}
