.button {
  width: 100%;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -0.28px;
  text-align: left;
  color: #000;
  background-color: #fff;
  transition: 0.2s ease-in-out;
  padding-block: 10px;
  padding-inline: 24px;

  &:hover,
  &:focus {
    background-color: #f5f5f5;
  }

  &--level-2 {
    padding-left: 34px;
  }

  &--level-3 {
    padding-left: 44px;
  }

  &--level-4 {
    padding-left: 54px;
  }

  &--level-5 {
    padding-left: 64px;
  }
}