.tocs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
}

.subtitle {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.4px;
  padding-inline: 24px;
}

.pages {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 16px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  gap: 10px;
  opacity: 0;

  div {
    margin: 0 auto;
    width: fit-content;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    box-shadow: 1px 2px 8px 1px rgba(10, 13, 18, 0.1);
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    min-height: 18px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.24px;
    color: #000;
    background-color: #ebebeb;
  }

  &--active {
    div {
      border-color: #24a600;
    }
  }

  &--loaded {
    opacity: 1;
  }
}