.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  cursor: pointer;
  user-select: none;
  gap: 8px;

  &:last-of-type {
    margin-bottom: 0;
  }

  input[type="checkbox"] {
    display: none;

    &:checked + .customCheckbox {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.88889 1.78516C3.25617 1.78516 1.25 3.77511 1.25 6.40358V18.5615C1.25 21.1899 3.25614 23.1799 5.88889 23.1799H18.1111C20.7438 23.1799 22.75 21.1899 22.75 18.5615V6.40358C22.75 3.77511 20.7438 1.78516 18.1111 1.78516H5.88889ZM17.5305 8.89975C17.8233 9.19275 17.8231 9.66762 17.5301 9.96041L11.526 15.9604C11.3853 16.1011 11.1944 16.18 10.9955 16.1799C10.7965 16.1798 10.6057 16.1006 10.4652 15.9599L7.4693 12.9599C7.17661 12.6668 7.17694 12.1919 7.47004 11.8992C7.76313 11.6065 8.23801 11.6068 8.5307 11.8999L10.9964 14.3691L16.4699 8.89939C16.7628 8.6066 17.2377 8.60676 17.5305 8.89975Z' fill='%2324A600'/%3E%3Cpath d='M17.5301 9.96041C17.8231 9.66762 17.8233 9.19275 17.5305 8.89975C17.2377 8.60676 16.7628 8.6066 16.4699 8.89939L10.9964 14.3691L8.5307 11.8999C8.23801 11.6068 7.76313 11.6065 7.47004 11.8992C7.17694 12.1919 7.17661 12.6668 7.4693 12.9599L10.4652 15.9599C10.6057 16.1006 10.7965 16.1798 10.9955 16.1799C11.1944 16.18 11.3853 16.1011 11.526 15.9604L17.5301 9.96041Z' fill='white'/%3E%3C/svg%3E");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

.customCheckbox {
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' fill='none'%3E%3Cpath fill='%23AAB0A7' fill-rule='evenodd' d='M5.889 3.285c-1.812 0-3.139 1.326-3.139 3.119V18.56c0 1.793 1.327 3.119 3.139 3.119H18.11c1.812 0 3.139-1.326 3.139-3.119V6.404c0-1.793-1.327-3.119-3.139-3.119H5.89ZM1.25 6.404c0-2.629 2.006-4.619 4.639-4.619H18.11c2.633 0 4.639 1.99 4.639 4.619V18.56c0 2.629-2.006 4.619-4.639 4.619H5.89c-2.633 0-4.639-1.99-4.639-4.619V6.404Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
