.sliderBar {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
  height: 6px;
  border-radius: 6px 0 0 6px;
  background-color: #d6d6d6;
  transform: translateY(-50%);
}

.active {
  background-color: #24a600;
}
