.container {
  position: relative;
  display: flex;
  flex-grow: 1;
  width: auto;
}

.slider {
  z-index: 2;
  margin: 0;
  width: 100%;
  height: 6px;
  appearance: none;
  outline: none;
  border-radius: 6px;
  background-color: transparent;

  &::-webkit-slider-thumb {
    width: 22px;
    height: 22px;
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 18px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background-color: #24a600;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow, background-color;
    cursor: default;
  }

  &.active::-webkit-slider-thumb {
    border: 5px solid #24a600;
    cursor: pointer;
  }
}

.background {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 6px;
  border-radius: 6px;
  background-color: rgb(238, 238, 238);
}